@CHARSET "UTF-8";

#logo
{
    height: 100px;
    width : 192px;
    background-color : #CCE7FF;
    float: left;
}

.logopla{
    height: 100px;
    width : 192px;
}

#topo
{
    height: 107px;
    margin-left: 192px;
    font-family: arial;
    background-color : #CCE7FF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu
{
    height: 100%;
    width: 192px !important;
    font-family: arial;
    background-color: #CCE7FF;
    text-align: center;
    top: 115px;
    position: absolute;
}

#conteudo
{
    height: 100%;
    top: 0%;
    margin-top: 115px;
    margin-left: 192px;
    margin-right: 10px;
    font-family: arial;
    background-color: #ffffff;
    position: absolute;
    display: flex;
}

.ui-menu
{
    width: 180px !important;
    border: none !important;
}

.ui-menubar
{
    width: 180px !important;
    margin-left: 90px;
}

.ui-menu-child
{
    width: 110px !important;
    margin-left: 25px;
}

.ui-menubar,.ui-menu-child,.ui-menu 
{
    background: #CCE7FF !important;
    color: black !important;
    font-size: 15px;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 90% !important;
}

.centralizar {
	text-align: center
}

.negrito {
	font-weight: bold;
}

.identiacao10px {
	margin-left: 10px;
}

.semBorda tr, .semBorda td {
	border: none !important;
}

.botaoVermelho{
	background: Tomato;
}

.botaoAzul{
	background: LightSkyBlue;
}
